# Change * to network prefix (ETH, ARB, etc.)
export *_RPC_URL=
export ETHERSCAN_API_KEY=

############################################################
##########################  ROLES ##########################
############################################################

# Common admin roles
export OWNER=

export ENDPOINT=
export MESSAGE_ROUTER=